# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Terraform directories
.terraform/
.terraform.lock.hcl

# AWS credentials (als je ze ooit lokaal opslaat)
*.pem
*.key

# Terraform variabelen met mogelijk gevoelige data
terraform.tfvars
*.tfvars
!terraform.tfvars.example

# Hele ssh_keys folder
ssh_keys/

# Eventuele txt bestanden met credentials
txt/

# VS Code instellingen (optioneel)
.vscode/

# OS-specifieke bestanden
.DS_Store
Thumbs.db

# nog aan het teste
# monitoring.tf